 body {
    color: #fff;
    background-image: url('../images/space.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
 }

large-image {
    width: 100%;
     max-width: 600px;
 }

#content > div.container-fluid > div > div {
    padding: 0.3rem;
}

#content > div.container-fluid > div > div > h1, #content > div > div.container-fluid > div > div > h1{
    background-color: #000;
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    color: #9126E8;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    font-size: 1.9rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.jumbotron {
    background-color: #47FFAC;
    border: 0.1rem solid #AEFAFC;
    animation: color-change 10s linear infinite;
}

@keyframes color-change {
    25% {
      background-color: #FC5378;
    }

    50% {
      background-color: #4044E6;
    }

    100% {
      background-color: #47FFAC;
    }
}

#content > div:nth-child(4) > nav > ul > li > a {
    color: #20c997;
    text-align: center;
}

#content > nav {
    margin-bottom: 0rem;
}

/* SìįSí Dbt 🚀 navbar-brand */
#content > nav > a {
    color: #9ED2C6;
}

/* Menu navbar-toggler-icon 🚀  */
#content > nav > button {
    color: #9ED2C6;
    border: 0.1rem solid  #9ED2C6;
}

.navbar-toggler-icon {
    border: 0.09rem solid #9ED2C6;
    border-top-left-radius: 55%;
    border-bottom-right-radius: 55%;
}

.navbar-toggler-icon:hover {
    border-radius: 0;
    border-top-right-radius: 55%;
    border-bottom-left-radius: 55%;
    font-size: 1.5rem;
}

#navbarSupportedContent > ul > li > a {
    color: #9ED2C6;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}

#navbarSupportedContent > ul > li > a:hover {
    color: #47FFAC;
}

.log-register-h3 {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.19rem solid #9ED2C6;
    border-top-left-radius: 37%;
    border-bottom-right-radius: 37%;
    color: #AEFAFC;
    margin: 0.5rem;
    padding: 0.9rem;
}

.navbar.nav-home {
    margin-bottom: 0;
}

/* register-home & log-in-home index.html */
#navbarSupportedContent > ul > li > a.register-home,
#navbarSupportedContent > ul > li > a.log-in-home {
    background-color: #0d1515;
    border: 0.1rem solid #17a2b8;
    border-radius: 19rem;
    color: gold;
    font-size: 2.1rem;
    padding: 1.3rem;
    transform: rotate(7deg);

    /* Set a fixed width */
    width: 145px; /* Adjust the width based on your design */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

#navbarSupportedContent > ul > li > a.log-in-home {
    transform: rotate(-7deg);
}

.log-out {
    color: #9A30F3;
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
}

.artificial-intelligence {
    color: #9A30F3;
    font-family: 'Cardo';
    font-size: 2.71rem;
}

/* register title */
.p-1.rounded-3.jumbotron {
    margin: 0;
}

/* register form field: Name */
body > div.content > div.container > div > div > div > div.mb-3 > form > div:nth-child(5) {
    margin-bottom: 1.9rem !important;
}

/* Style the Popup Container */
.popup-container {
    /* display: none; */
    /* Initially hide the container */
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/space.jpg');
    padding: 19px;
    border: 1px solid #ccc;
    border-top-right-radius: 19%;
    border-bottom-left-radius: 19%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Ensure it's on top of other elements */
    z-index: 9999;
    width: 91%; /* Adjust width as needed */
    max-width: 559px; /* Set maximum width to prevent it from becoming too wide */
}

/* Style the Show Button */
#showPopupButton {
    background-color: #0d1515;
    border: 0.1rem solid #17a2b8;
    border-radius: 19%;
    color: #17a2b8;
    padding: 5px 10px;
}

/* Style the Close Button */
#closePopupButton {
    background-color: #0d1515;
    border: 0.1rem solid #AEFAFC;
    border-radius: 100%;
    padding: 5px 10px;
}

.green {
    color: darkgreen;
}

.SìįSí, .gold {
    color: gold;
}

.crimson {
    color: crimson;
}

.white {
    color: #fff;
}

.mediumslateblue {
    color: mediumslateblue;
}

.convers-id {
    color: #cdfcf5;;
}

.llm-response {
    color: #70f8fd;
}

.summary {
    color: #AEFAFC;
}

.created {
    color: #d0ebec;
}

textarea#userInput {
    color: #72e9fc !important;
}

.history-title {
    color: #17a2b8 !important;
    margin-top: 0;
}

.underline {
    color: gold;
    text-decoration: underline;
}

.conversations-details {
    color: #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
}

.conversations {
    color: #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
    margin-top: 0;
    text-align: center;
}

.align-left {
    text-align: left;
}

/* Click to Go Back to Select Conversation */
#content>div>div>a, #content>div.conversations.container>div>a {
    text-decoration: underline;
}

/* Click to Go Back to Select Conversation */
#content>div>div>a:hover, #content>div.conversations.container>div>a:hover {
    color: #6ABFA6;
}

label {
    color: #9A30F3;
    font-family: 'Lora', 'Times New Roman', serif;
}

/* textarea 🚀 */
label, input, #userInput, #generatedText, textarea, #historiesContainerJson > pre {
    background-color: rgba(0, 0, 0, 0.175) !important;
}

/* textarea 🚀 */
input, #userInput, #historiesContainerJson > pre {
    color: #9ED2C6 !important;
}

.crown, .micro {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

.micro {
    border: 0.1rem solid #000;
}

.loading {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 3.7rem;
}

#scrollDownButton {
    border: 0.1rem solid;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

button.language-btn {
    background-color: #9A30F3;
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    text-decoration: None;
}

button.language-btn:hover {
    color: yellow;
}

#langAr, .btn-story:hover {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
}

#langEn {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
    transform: rotate(-45deg);
}

#langEs {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
    transform: rotate(45deg);
}

#langPt {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
}

#langFr {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
}

#userInput, #generatedText, #final-result-content.form-control.result, .textarea-memory {
    border: 0.1rem solid #1295FA;
    border-radius: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    height: 91px;
    min-height: 55px;
    padding: 0.3rem;
    width: 100%;
}

/* crsf_token */
#content>div.container.text-center>div.row>div>form>div>label{
    display: none;
}

.textarea-memory {
    color: #4bedc7;;
    height: 199px;
    line-height: 1.9rem;
    padding: 0.9rem;
}

#userInput::placeholder {
    /* Center the placeholder text horizontally */
    text-align: center;

    /* Optionally, you can style the placeholder text further */
    font-style: italic;
    color: #999; /* Placeholder text color */
}

textarea#generatedText {
    color: #AEFAFC;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.label_ {
    background-color: #fff;
    border-radius: 19%;
    color: #AEFAFC;
    font-size: 1rem;
    padding: 0.1rem;
}

#start-button {
    color: #fff;
    background-color: #1295FA;
    border: 0.1rem solid #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
}

#start-button:hover {
    color: #73DD7E;
}

#speechRecognitionButton {
    color: #fff;
    background-color: #30ABB7;
    border: 0.1rem solid #AEFAFC;
    font-family: 'Cardo';
}

#speechRecognitionButton:hover {
    background-color: 9A30F3;
    border: 0.1rem solid #73DD7E;
    color: #9A30F3;
}

#generateButton, #playbackButton {
    background-color: #AEFAFC;;
    border: 0.1rem solid #AEFAFC;
    color: #8e2cb8;
}

#generateButton:hover, #playbackButton:hover {
    color: #30ABB7;
}

#final-result-content, #resultMemo > h3 {
    color: #1295FA;
}

textarea#writing_text.form-control {
    min-height: 55px;
    font-family: 'Merriweather', sans-serif;
    height: 55px;
}

#showResultButton {
    font-size: 1.09rem;
}

/* btn back-home */
.back-home > a {
    border: 0.1rem solid #9A70F3;
    border-radius: 19%;
    color: #fff;
    font-size: .9rem;
    padding: .7rem;
}

.back-home > a:hover {
    color: #fff;
}

.btn.fastapi-docs {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0.5rem;
    transform: rotate(37deg);
}

.btn.fastapi-redoc {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0.5rem;
    transform: rotate(-37deg);
}

.error {
    color: crimson;
    background-color: #fff;
    font-family: 'Cardo';
    margin: 1rem 1rem 0;
    padding: 0.1rem;
    text-align: center;
    white-space: pre-line;
}

hr.mb-3, body hr {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    margin: 0 3rem;
}

#footer {
    margin-bottom: 1.09rem;
    margin-top: 1.09rem;
    text-align: center;
}

.fa-inverse {
    background-color: #9126E8;
    border: 0.1rem solid #AEFAFC;
    border-radius: 55%;
    color: #fff;
}

.fa-inverse:hover {
    color: #6ABFA6;
    width: 3.7rem;
}

.fas {
    color: transparent !important;
}

.copyright {
    background-color: #000;
    border: 0.1rem solid #1295FA;
    border-radius: 0.5rem;
    color: #9A30F3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
}

#home-tab2 > a, #profile-tab2 {
    font-size: 2.7rem;
}

/* navbare like icon btn */
#navbarSupportedContent>ul>li:nth-child(5)>a>i {
    color: pink;
}

/* like icon btn */
.like-button,
.text-center {
    color: #70f8fd;
}