{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
        <div class="container-fluid mb-5">
            <div class="p-1 rounded-3 jumbotron">
                <div class="container-fluid py-1">
                    <h1 class="">
                        <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
                        SìįSí DBT OpenAI
                        <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
                    </h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% autoescape true %}

    <div class="container text-center">
<!--
        <hr class="crimson mb-5">

        <h3 class="log-register-h3">Interact With<br>
            <span class="artificial-intelligence">SìįSí</span><br>Register & Log in
        </h3>

        <hr class="gold mb-3">
    </div>
-->
    <div class="content text-center">
        <hr class="crimson mb-1">

        <!-- Navbar -->
        <nav class="navbar nav-home">
            <div id="navbarSupportedContent">
                <ul class="navbar-nav" style="display: inline-block;">
                    <li class="nav-item" style="display: inline-block;">
                        <a class="nav-link register-home" href="{{create_user}}">Register</a>
                    </li>
                    <li class="nav-item" style="display: inline-block;">
                        <a class="nav-link active log-in-home" aria-current="page"
                           href="login">Login</a>
                    </li>
                </ul>
                <p class="gold" style="margin-bottom:0;">🔥∞To Use All Features∞🔥</p>
            </div>
        </nav>

        <!-- Add a button to trigger the popup -->
        <button id="showPopupButton" type="button" class="btn mb-3 submit">Show Instructions</button>
        
        <!-- Popup Container -->
        <div id="popupContainer" class="popup-container  conversations" style="display: none;">
            <!-- Popup Content -->
            <div class="popup-content">
                <!-- Popup Content Here -->
                <p>Welcome to the <span class="SìįSí">-¡!¡-SìįSí-¡!¡-</span> app</p>
                <!-- Ordered List -->
                <ol class="align-left">
                    <li> 
                        <span class="mediumslateblue">Click On Your Favorite Language</span><br>(e.g.:عربي -¡!¡- Arabic)
                    </li>
                    <li> 
                        <span class="mediumslateblue">Click On Start Writing</span><br>(to write a text) or<br>
                        <span class="mediumslateblue">Click on Speech Recognition</span><br>(to speech a text)
                    </li>
                    <li> 
                        <span class="mediumslateblue">Click On Get The Response</span><br>
                        (to get SìįSí answer)
                    </li>
                    <li class="text-center">
                        <span class="mediumslateblue">🔥To Use All Features🔥</span><br>
                        <span>
                            <a href="register" class="underline">Register</a> & 
                            <a href="login" class="underline">Login</a>
                        </span>
                    </li>
                    <li><span class="mediumslateblue">-¡!¡-ENJOY-¡!¡-</span></li>
                </ol>
                <!-- Close Button -->
                <h6>Close Button</h6>
                <button id="closePopupButton" type="button" class="btn btn-outline-info mb-3 submit">x</button>
            </div>
        </div>

    </div>

    <div class="content">

        <div class="container text-center mb-1">
            <hr class="crimson mb-5">

            <hr class="gold mb-3">
            <h3 class="conversations">1°Click on your Favorite Language</h3>
            <hr class="gold mb-5">
            <hr class="green mb-3">

            <div>
                <button id="langAr" data-lang="ar-AR" type="button" class="btn language-btn mb-5">
                عربي ¡!¡ Arabic
                </button>
            </div>

            <button id="langEn" data-lang="en-US" type="button" class="btn language-btn">
                !¡! English ¡!¡
            </button>

            <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">

            <button id="langEs" data-lang="es-ES" type="button" class="btn language-btn">
                ¡!¡ Spanish ¡!¡
            </button>
        </div>

        <div class="container mb-2">
            <button id="langPt" data-lang="pt-BR" type="button" class=" btn language-btn">
                ¡!¡ Brazil ¡!¡
            </button>
        </div>

        <div class="container text-center">
            <button id="langFr" data-lang="fr-FR" type="button" class="btn language-btn mb-3">
                ¡!¡ French ¡!¡
            </button>
            <hr class="green mb-5">
        </div>

        <div id="content-container"  style="display: none;" class="container">
            <form id="prompt-form" method="POST" action="conversation/start">

                <div id="error-message" class="alert alert-danger text-center" style="display: none;"></div>

                <div class="text-center">
                    <hr class="green mb-3">
                    <div class="mb-3 alert error" id="error-message" style="display: none;"></div>
                    <div>
                        <button id="start-button" type="button" class="btn mb-3">
                            Start Writing ¡!¡
                        </button>
                    </div>

                    <hr class="green mb-5" >
                    <hr class="crimson mb-3">

                    <!-- Add a button for speech recognition -->
                    <button id="speechRecognitionButton" type="button" class="btn mb-3">
                        Speech Recognition ¡!¡
                    </button>
                </div>

                <hr class="crimson mb-5">

                <div id="textarea-container" style="display: none;" class=" align-left">
                    <label for="userInput" class="label_">
                        Start Writing to Test:<br>(be Specific for a better result)
                    </label>
                    <textarea class="form-control mb-5" id="userInput" name="user_message"
                              placeholder="¡!¡ T😎 INTERACT, WRITE  HERE ¡!¡" oninput="capitalizeSentences(this)" required></textarea>
                    <hr style="display: block; color:yellow">
                </div>

                <hr class="gold mb-3">

                <div id="loading-indicator" style="display:none;" class="text-center mb-3">
                    <p>Loading...</p>
                    <img class="loading" src="https://media1.giphy.com/media/VseXvvxwowwCc/200w.webp?cid=ecf05e47bx13l0iyjnyo8e0dxaumajijmsz83lk4bl8kow3w&ep=v1_gifs_search&rid=200w.webp&ct=g" alt="Loading">
                </div>

                <div class="text-center">
                    <button id="generateButton" class="mb-3 btn generate-text" type="submit">
                    Get The Response 🔥¡!¡<img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">¡!¡🔥
                </button>
                </div>
            </form>

            <hr class="gold mb-5">

            <div class="text-center">
                <hr class="green mb-3">
                <label>:…·SìįSí·Dbt·…:</label>
                <textarea id="generatedText" class="mb-3 form-control result" style="display: none;"></textarea>

                <!-- Add a button for speech synthesis playback -->
                <div class="mb-3">
                    <span>(PlayBack)</span><br>
                    <button id="playbackButton" type="button" class="btn btn-outline">
                        ¡!¡ ·SìįSí·Dbt·SìįSí· ¡!¡
                    </button>
                    <audio id="response-audio" controls class="submit btn btn-outline-info" style="display:none;">
                        <source src="{{audio}}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>

            <hr class="green mb-5">

        </div>

    </div>

    </div>
    
    <script src="/static/js/main.js"></script>
    <script src="/static/js/rec-speech.js"></script>
    <script src="/static/js/home-speech-request.js"></script>
    <script src="/static/js/popup.js"></script>

{% endautoescape %}
{% endblock %}

{% block footer %} {% endblock %}
