{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="py-1">
            <h1 class="">Register ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% autoescape true %}

    <div class="container">
    
        <h5 class="conversations">Welcome<br>¡!¡ Register ¡!¡<br>
            To Interact with<br>¡!¡ The Artificial Intelligence ¡!¡</h5>

        <hr class="green mb-3">

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-3">

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                <form method="POST" action="{{ url_for('auth.register') }}" accept-charset="UTF-8">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h5 class="alert-danger text-center">{{ message }}</h5>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <!-- Include CSRF token -->
                    {{ register_form.csrf_token }}

                    {{ wtf.form_field(register_form.email, autofocus=true) }}
                    {{ wtf.form_field(register_form.password) }}
                    {{ wtf.form_field(register_form.confirm_password) }}
                    {{ wtf.form_field(register_form.name) }}
                    <div class="mb-3 text-center">{{ wtf.form_field(register_form.submit, class="submit btn btn-success") }}</div>
                </form>

                <div class="mb-3">
                    <p style="color:gray;">Already have an account? <a href="/login">Log in here</a>.</p>
                </div>

            </div>
        </div>

        <hr class="gold mb-3">

        <div class="text-center">
            <button type="button" class="btn btn-outline back-home mb-3">
                <a href="{{ url_for('conversation_home.home') }}" class="remove-active-state">Back Home -¡!¡-</a>
            </button>
        </div>

        <hr class="crimson mb-5">
            
    </div>

{% endautoescape %}
{% endblock %}

{% block footer_ %} {% endblock %}
