{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/images/favicon1.ico">
{% endblock %}

{% block content %}


<div class="container-fluid mb-5">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">DBT OpenAI Speech Generation ¡!¡</h1>
        </div>
    </div>
</div>

<hr class="mb-3" style="color:green;">

<div id="resultMemo" style="" class="text-center mb-3">
    <h3>Memory Buffer</h3>
    <textarea class="textarea-memory mb-3" style="color:green;">{{ memory_buffer }}</textarea>

    <hr class="mb-3" style="color:yellow;">

    <h3>Summary</h3>
    <textarea class="textarea-memory mb-3" style="color:red;">{{ summary_conversation }}</textarea>

    <hr class="mb-3" style="color:red;">

    <h3>Memory Load</h3>
    <textarea class="textarea-memory mb-3" style="color:purple;">{{ memory_load }}</textarea>

</div>

<hr class="mb-3" style="color:yellow;">

<div class="text-center">
    <a href="/" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
</div>

<hr style="color:green;">

{% endblock %}

{% block footer %} {% endblock %}
